@model IReadOnlyList<ApplicationCore.Entities.Address>
@{
    int count = 0;
}

<div class="display-4 mb-5">Addresses</div>

<div class="row">

    @if(Model == null || Model.Count() == 0)
    {
        <p>No addresses</p>
        <div class="text-center justify-content-center mt-4">
            <div>
                <a class="btn btn btn-success" asp-page="Address/Add"><i class="bi bi-plus-lg"></i> Add Address</a>
            </div>
        </div>
    }
    else
    {
        @foreach(var address in Model)
        {
            count++;
            <div class="card g-3 p-0">
                <div class="card-header">
                    <div class="d-flex justify-content-between">
                        <h6>Address @count</h6>
                        <div>
                            <a class="btn btn-outline-success" asp-page="Address/Edit" asp-route-id="@address.Id">Edit</a>
                            <button id="@address.Id" class="btn btn-outline-danger removeButton">Remove</button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <h6 class="card-title">@address.FullName()</h6>
                    <p class="mb-0">@address.AddressLineOne</p>
                    <p class="mb-0">@address.AddressLineTwo</p>
                    <p class="mb-0">@address.PostalCode</p>
                    <p class="mb-0">@address.Country</p>
                    <p class="mb-0">@address.Phone</p>
                </div>
            </div>
        }
        <div class="text-center justify-content-center mt-4">
            <div>
                <a class="btn btn btn-success" asp-page="Address/Add"><i class="bi bi-plus-lg"></i> Add Address</a>
            </div>
        </div>
    }
</div>