@model ApplicationCore.Entities.Address

<div class="d-flex justify-content-between p-2">
    <div>
        <h6 class="mb-0">@Model.FullName()</h6>
        <p class="mb-0">@Model.AddressLineOne</p>
        <p class="mb-0">@Model.AddressLineTwo</p>
        <p class="mb-0">@Model.PostalCode @Model.City</p>
        <p class="mb-0">@Model.Country</p>
    </div>
    <div>
        <button id="changeAddress" class="btn btn-outline-success"><i class="bi bi-pencil-fill"></i>Change</button>
    </div>
</div>