@page
@model Web.Pages.Checkout.ConfirmModel
@{
    Layout = "_LayoutCheckout";
    decimal total = 0;
}

<div class="container">

    <div class="flex-row">
        <h5 class="border-bottom border-1 pb-2 mb-3">SUMMARY</h5>
    </div>
    <div class="row">

        <div class="col-md">
            <div class="mb-5">
                <h6 class="border-bottom border-1 pb-2">SHIPPING METHOD</h6>
                <p>Express</p>
            </div>
            <div class="mb-5">
                <h6 class="border-bottom border-1 pb-2">ORDER</h6>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th class="text-center">Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var item in Model.CartItems)
                        {
                            total += item.Product.Price * item.Quantity;
                            <tr>
                                <td>
                                    <div class="row">
                                        <div class="col-4">
                                            <img style="height: 4rem" src="@SiteConstants.ImagePath@item.Product.Image" asp-append-version="true">
                                        </div>
                                        <div class="col">
                                            <h5>@item.Product.Name</h5>
                                            @if(item.Product.IsOnSale)
                                            {
                                                <p>Price: @item.Product.SalePrice?.ToString("C")</p>
                                            }
                                            else
                                            {
                                                <p>Price: @item.Product.Price.ToString("C")</p>
                                            }
                                        </div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    @item.Quantity
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            
        </div>
        <div class="col">
            <div class="mb-5">
                <h6 class="border-bottom border-1 pb-2">SHIPPING ADDRESS</h6>
                <partial name="_AddressCheckPartial" model="@Model.Address" />
            </div>
            <div class="mb-5">
                <h6 class="border-bottom border-1 pb-2">PAYMENT FORM</h6>
                <p>Braintree</p>
            </div>
             <div class="mb-5">
                <h6 class="border-bottom border-1 pb-2">DISCOUNT CODE</h6>
                @if(Model.Order.HasCupon)
                {
                    <div class="input-group">
                        <input id="discountCode" disabled class="form-control">
                        <div id="cuponButton">
                            <button id="removeCupon" class="btn btn-danger"><i class="bi bi-x-lg"></i></button>
                        </div>
                    </div>
                }
                else
                {
                    <div class="input-group">
                        <input id="discountCode" class="form-control" />
                        <div id="cuponButton">
                            <button id="discountValidate" class="btn btn-success"><i class="bi bi-check-lg"></i></button>
                        </div>
                    </div>
                }
            </div>
            <div class="mb-5 d-flex justify-content-center text-center">
                <form method="post" id="payment-form">
                    <h6 class="border-bottom border-1 pb-2">PAYMENT</h6>
                    <div id="dropin-container"></div>
                    <input id="total" hidden asp-for="@total" value="@total" />
                    <div id="totalPartial" class="mb-5">
                        <partial name="_OrderTotalPartial" model="@Model.Order" />
                    </div>
                    <input type="hidden" id="nonce" name="payment_method_nonce"/>
                    <button type="submit" id="submit-button" class="btn btn-success col-6">Submit Order</button>
                </form>
            </div>
            
        </div>

    </div>
</div>

@section Scripts {
    
    <script src="https://js.braintreegateway.com/web/dropin/1.33.1/js/dropin.min.js"></script>


    @*Change address*@
    <script>

        $(document).on('click', '#changeAddress', function() {
            location.href = '@Url.Page("Address")';
        });

    </script>

    @*Payment*@
    <script>

        var client_token = '@ViewData["ClientToken"]';

        const form = document.getElementById('payment-form');

        braintree.dropin.create({
            authorization: client_token,
            container: '#dropin-container'
        },
        (error, dropinInstance) => {
            if (error) console.error(error);

            form.addEventListener('submit', event => {
                event.preventDefault();

                dropinInstance.requestPaymentMethod((error, payload) => {
                    if (error) console.error(error);

                    document.getElementById('nonce').value = payload.nonce;

                    form.submit();
                });
            });
        });

    </script>

    @*Validate cupon*@
    <script>

        $(document).on('click', '#discountValidate', function() {
            var cache = '@Model.Order.HasCupon';
            var code = $('#discountCode').val();

            $.ajax({
                type: 'GET',
                url: '@Url.Page("Confirm","Discount")',
                data: {
                    prodCode: code
                },
                success: function(result) {
                    cache = result;
                    
                    if (result == "True") {

                        $('#totalPartial').load('?handler=PartialTotal');
                        $('#discountCode').prop('disabled', true);
                        $('#cuponButton').html('<button id="removeCupon" class="btn btn-danger"><i class="bi bi-x-lg"></i></button>');
                    }
                    else if (result == "False") {
                        alert("Invalid Cupon");
                    }
                },
                error: function() {

                    alert('Error');

                }
            });
        });

    </script>

    @*Remove cupon*@
    <script>

        $(document).on('click', '#removeCupon', function() {
            $.ajax({
                type: 'GET',
                url: '@Url.Page("Confirm","RemoveDiscount")',
                success: function() { 
                    $('#totalPartial').load('?handler=PartialTotal');
                    $('#discountCode').prop('disabled', false);
                    $('#cuponButton').html('<button id="discountValidate" class="btn btn-success"><i class="bi bi-check-lg"></i></button>');
                },
                error: function() {

                    alert('Error');

                }
            });
        });

    </script>

    @*Address form*@
    <script>

        $(document).on('change', '#shippingAddresses input', function() {

            if ($(this).attr('id') == 'newAddress') {

                $('#newAddressForm').attr('hidden', false);
            }
            else {
                $('#newAddressForm').attr('hidden', true);
            }
        });

    </script>
}