@page "{id}"
@model Web.Pages.Products.DetailsModel

<div class="container-lg">

    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-light p-2 rounded-0">
                    <li class="breadcrumb-item"><a asp-page="/Products/Index" asp-route-category="All">Products</a></li>
                    <li class="breadcrumb-item"><a asp-page="/Products/Index" asp-route-category="@Model.Category.Name">@Model.Category.Name</a></li>
                </ol>
            </nav>
        </div>    
    </div>

    <div class="row mb-5">
        <div class="col d-flex justify-content-end">
             <img class="mx-3" style="height: auto" src="@SiteConstants.ImagePath@Model.Product.Image" asp-append-version="true" />
        </div>
        <div class="col">

            <h1>@Model.Product.Name</h1>
            <p>Quantity: @Model.Product.Quantity</p>
            @if(Model.Product.IsOnSale)
            {
                <span class="card-text text-muted text-decoration-line-through">@Model.Product.Price.ToString("C")</span>
                <h3>@Model.Product.SalePrice?.ToString("C")</h3>
            }
            else
            {
                <h3>@Model.Product.Price</h3>
            }
            @if(Model.Product.InStock)
            {
                <input id="quantityInput" type="number" min="1" max="50" class="form-control mb-3" style="width: 4rem" value="1"/>
                <button id="addToCart" prodid="@Model.Product.Id" class="btn btn-primary addToCart"><i class="bi bi-cart-plus"></i> Add To Cart</button>
                
                @if(Model.IsAlreadyFavorite)
                {
                    <button class="btn btn-primary" id="addToFavorites"><i class="bi bi-heart"></i> Remove From Favorites</button>   
                }
                else
                {
                    <button class="btn btn-primary" id="addToFavorites"><i class="bi bi-heart"></i> Add To Favorites</button>    
                }
              
            }
            else
            {
                <button disabled class="btn btn-primary">Out Of Stock</button>       
                
                @if(Model.IsAlreadyFavorite)
                {
                    <button class="btn btn-primary" id="addToFavorites"><i class="bi bi-heart"></i> Remove From Favorites</button>   
                }
                else
                {
                    <button class="btn btn-primary" id="addToFavorites"><i class="bi bi-heart"></i> Add To Favorites</button>    
                }
            }
                
        </div>
    </div>

    @if (Model.Tags != null)
    {
        <div class="row mb-5">
            <div class="col">
                <h6>Tags</h6>
                @foreach(var tag in Model.Tags)
                {
                    <span class="badge bg-secondary">@tag</span>
                }
            </div>
        </div>   
    }
    

    <div class="row" style="height: 25rem">
        <div class="col">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="description-tab" data-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="true">Description</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="ingridients-tab" data-toggle="tab" href="#ingridients" role="tab" aria-controls="ingridients" aria-selected="false">Ingridients</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="reviews-tab" data-toggle="tab" href="#reviews" role="tab" aria-controls="reviews" aria-selected="false">Reviews</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">@Model.Product.Description</div>
                <div class="tab-pane fade" id="ingridients" role="tabpanel" aria-labelledby="ingridients-tab">@Model.Product.Ingredients</div>
                <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">...</div>
            </div>
        </div>
    </div>


    <h3>You May Also Like</h3>

    <div class="row">
        <div class="col">
            <div class="d-flex justify-content-center">
                @foreach(var product in Model.RelatedProducts)
                {
                    <div class="col">
                        <div class="card mx-2 my-4 border-1" style="width: 12rem;">
                            <a asp-page="Details" asp-route-id="@product.Id">
                                <img class="card-img-top" src="@SiteConstants.ImagePath@product.Image" asp-append-version="true">                              
                            </a>
                            <div class="card-body">
                                @if(product.IsOnSale)
                                {
                                    <span class="card-text text-muted text-decoration-line-through">@product.Price.ToString("C")</span>
                                    <h6 class="card-text">@product.SalePrice?.ToString("C")</h6>
                                }
                                else
                                {
                                    <h6 class="card-text">@product.Price.ToString("C")</h6>
                                }
                                <a asp-page="Details" asp-route-id="@product.Id" class="text-decoration-none">
                                    <h5 class="card-title">@product.Name</h5>
                                </a>
                                @if(!product.InStock)
                                {
                                    <button disabled class="btn btn-primary w-100">Out Of Stock</button>
                                }
                                else
                                {
                                    <button relatedid="@product.Id" class="btn btn-primary addToCartRelated"><i class="bi bi-cart-plus"></i> Add To Cart</button>
                                }
                            </div>
                        </div> 
                        
                    </div>
                }
            </div>
        </div>
    </div>
</div>


@section scripts{
    <partial name="_ValidationScriptsPartial" />

    <script>
        $('#myTab a').on('click', function (e) {
          e.preventDefault()
          $(this).tab('show')
        })
    </script>
    
    <script>
        $(document).ready(function() {
            var cache = '@Model.IsAlreadyFavorite';

            $('#addToFavorites').click(function() {
                $.ajax({
                    type: 'GET',
                    url: '@Url.Page("Details","Favorite")',
                    data: {
                        id: @Model.Product.Id,
                        favorite: cache
                    },
                    success: function(result) {
                        cache = result;
                        
                        if (result == "False") {
                            
                            $('#addToFavorites').html("Add To Favorites").prepend('<i class="bi bi-heart"></i>');
                        }
                        if (result == "True") {
                            
                            $('#addToFavorites').html("Remove From Favorites").prepend('<i class="bi bi-heart"></i>');
                        }
                        if (result == "Not Autenticated")
                        {
                            alert('You need to login')
                        }

                    },
                    error: function() {
                        alert("error");
                    }
                });
            });
        });
    </script>

    <script>
        $(document).on('click', '#addToCart', function() {

            var productQuantity = $('#quantityInput').val();
            var productId = $(this).attr('prodid');

            $.ajax({
                type: 'GET',
                url: '@Url.Page("Details","AddToCart")',
                data: {
                    prodId: productId,
                    quantity: productQuantity
                },
                success: function() {
                    $('#cartMenu').load('?handler=PartialCart'); 
                },
                failure: function() {
                    alert("failure");
                },
                error: function() {
                    alert("error");
                }
            });
        });
    </script>

    <script>
        $(document).on('click', '.addToCartRelated', function() {

            var productQuantity = 1;
            var productId = $(this).attr('relatedid');

            $.ajax({
                type: 'GET',
                url: '@Url.Page("Details","AddToCart")',
                data: {
                    prodId: productId,
                    quantity: productQuantity
                },
                success: function() {
                    $('#cartMenu').load('?handler=PartialCart'); 
                },
                failure: function() {
                    alert("failure");
                },
                error: function() {
                    alert("error");
                }
            });
        });
    </script>
}
