@page "{id}"
@using ApplicationCore.Interfaces
@using System.Security.Claims
@model Web.Pages.Products.DetailsModel
@inject IFavoriteService favoriteService


@{ 
    string userId = "";

    if(User.Identity.IsAuthenticated)
    {
        userId = HttpContext.User.FindFirst(ClaimTypes.NameIdentifier).Value;
    }
    var userFavorites = favoriteService.GetUserProducts(userId);
}

<div class="container-xl p-5">

    <div class="row shadow-sm bg-white align-items-center mb-5 py-5 pb-5">

        <div class="col-md d-flex justify-content-center">
            @if(!Model.Product.InStock)
            {
                <div class="badge bg-warning fs-5" style="position:absolute">Out of stock</div>   
            }
             <img class="mx-3" style="height: auto" src="@SiteConstants.ImagePath@Model.Product.Image" asp-append-version="true" />
        </div>

        <div class="col text-center text-md-start">
            <a class="text-reset text-decoration-none" asp-page="/Index">Home &raquo;</a>
            <a class="text-reset text-decoration-none" asp-page="/Products/Index" asp-route-category="@Model.Category.Name">@Model.Category.Name</a>
            <h3 class="mb-3">@Model.Product.Name</h3>
            <div class="d-flex mb-3 justify-content-center justify-content-md-start">
                @if(Model.Product.IsOnSale)
                {
                    <span class=" align-self-center me-2 card-text text-muted fw-lighter text-decoration-line-through">@Model.Product.Price.ToString("C")</span>
                    <div class="fs-4">@Model.Product.SalePrice?.ToString("C")</div>
                }
                else
                {
                    <div class="fs-4">@Model.Product.Price.ToString("C")</div>
                }
                
                <div class="align-self-center ms-2">
                    <span class="badge rounded-pill bg-secondary">@Model.Product.Quantity</span>
                </div>
            </div>
            <h6>Brand: <span class="text-muted fw-light">Loyal Brand</span></h6>
            <h6>Category: <span class="text-muted fw-light">@Model.Category.Name</span></h6>
            @if (Model.Tags != null)
            {
                <h6>Tags: 
                    <span class="text-muted fw-light">
                        @foreach(var tag in Model.Tags)
                        {
                            <span>@tag</span>
                        }
                    </span>
                </h6>
            }
            <div class="d-flex my-5 justify-content-center justify-content-md-start">
                @if(Model.Product.InStock)
                {   
                    <div class="input-group me-3" style="width:auto">
                        <button id="removeQuantity" class="btn btn-success"><i class="bi bi-dash-lg"></i></button>
                        <input disabled id="quantityInput" type="number"  min="1" max="50" class="form-control" value="1"/>
                        <button id="addQuantity" class="btn btn-success"><i class="bi bi-plus-lg"></i></button>
                    </div>
                    <button id="@Model.Product.Id" class="btn btn-lg btn-success me-2 addToCart"><i class="bi bi-cart-plus"></i></button>
                
                    @if(Model.IsAlreadyFavorite)
                    {
                        <button class="btn btn-lg btn-success addToFavorites" id="@Model.Product.Id"><i class="bi bi-heart"></i></button>   
                    }
                    else
                    {
                        <button class="btn btn-lg btn-success addToFavorites" id="@Model.Product.Id"><i class="bi bi-heart-fill"></i></button>    
                    }
              
                }
                else
                {
                    <button disabled class="btn btn-lg btn-success me-2"><i class="bi bi-cart-plus"></i></button>       
                
                    @if(Model.IsAlreadyFavorite)
                    {
                        <button class="btn btn-lg btn-success addToFavorites" id="@Model.Product.Id"><i class="bi bi-heart"></i></button>   
                    }
                    else
                    {
                        <button class="btn btn-lg btn-success addToFavorites" id="@Model.Product.Id"><i class="bi bi-heart-fill"></i></button>    
                    }
                }

            </div>
                
        </div>
    </div>

   
    <div class="row p-4 py-5 shadow-sm bg-white">
        <div class="col">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link fw-bold active text-reset" id="description-tab" data-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="true">Description</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-bold text-reset" id="ingridients-tab" data-toggle="tab" href="#ingridients" role="tab" aria-controls="ingridients" aria-selected="false">Ingridients</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-bold text-reset" id="reviews-tab" data-toggle="tab" href="#reviews" role="tab" aria-controls="reviews" aria-selected="false">Reviews</a>
                </li>
            </ul>
            <div class="tab-content text-muted px-3 py-5" id="myTabContent">
                <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">@Model.Product.Description</div>
                <div class="tab-pane fade" id="ingridients" role="tabpanel" aria-labelledby="ingridients-tab">@Model.Product.Ingredients</div>
                <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">...</div>
            </div>
        </div>
    </div>


    <div class="row p-4 my-5 shadow-sm bg-white justify-content-center">
        <div class="display-6 mb-5">Related Products</div>
        @foreach(var product in Model.RelatedProducts)
        {
            <div class="card border-1 rounded-0 p-3 text-center " style="width: 15rem;">
                @if(!product.InStock)
                {
                    <div class="badge bg-dark" style="position:absolute">Out of stock</div>         
                }
                <a asp-page="Details" asp-route-id="@product.Id">
                    <img class="card-img-top align-items-stretch" src="@SiteConstants.ImagePath@product.Image" asp-append-version="true">                              
                </a>
                <div class="card-body">
                    <a asp-page="Details" asp-route-id="@product.Id" class="text-decoration-none">
                        <h5 class="card-title">@product.Name</h5>
                    </a>
                    <div class="d-flex justify-content-center">
                        @if(product.IsOnSale)
                        {
                            <span class="card-text text-muted fs-6 text-decoration-line-through">@product.Price.ToString("C")</span>
                            <h6 class="card-text ms-2 fs-5">@product.SalePrice?.ToString("C")</h6>
                        }
                        else
                        {
                            <h6 class="card-text fs-5">@product.Price.ToString("C")</h6>
                        }
                    </div>
                    <div class="mt-4">
                        @if(!product.InStock)
                        {
                            <button disabled class="btn btn-outline-secondary"><i class="bi bi-plus-lg"></i></button>
                        }
                        else
                        {
                            <button id="@product.Id" class="btn btn-outline-secondary addToCart"><i class="bi bi-plus-lg"></i></button>
                        }
                        <a asp-page="Details" asp-route-id="@product.Id" class="btn btn-outline-secondary"><i class="bi bi-eye-fill"></i></a>

                        @if(User.Identity.IsAuthenticated && userFavorites.Any(p=> p.ProductId == product.Id))
                        {
                            <button id="@product.Id" class="btn btn-outline-secondary addToFavorites"><i class="bi bi-heart"></i></button>
                        }
                        else
                        {
                            <button id="@product.Id" class="btn btn-outline-secondary addToFavorites"><i class="bi bi-heart-fill"></i></button>
                        }
                    </div>
                </div>
            </div> 
        }
    </div>
</div>


@section scripts{
    <partial name="_ValidationScriptsPartial" />

    <script>
        $('#myTab a').on('click', function (e) {
          e.preventDefault()
          $(this).tab('show')
        })
    </script>
    
    @*Add to favorites*@
    <script>

        $(document).on('click','.addToFavorites', function() {

            var prodId = $(this).attr('id');

            $.get('@Url.Page("Details","Favorite")', {'prodId': prodId}, function(result) {

                if (result == "Added") {
                    $('#'+prodId+ '.addToFavorites').html('<i class="bi bi-heart"></i>');                            
                }
                if (result == "Removed") {
                    $('#'+prodId+ '.addToFavorites').html('<i class="bi bi-heart-fill"></i>');
                }
                if (result == "Not Autenticated")
                {
                    alert('You need to login')
                }
            });
        });

    </script>

    @*Add to cart*@
    <script>

        $(document).on('click', '.addToCart', function() {

            var productQuantity = $('#quantityInput').val();
            var productId = $(this).attr('id');

            $.get('@Url.Page("Details","AddToCart")', { 'prodId': productId, 'quantity': productQuantity }, function(result) {
                $('.cartMenu').html(result);
                $('#'+productId+ '.addToCart').html('<i class="bi bi-check-lg"></i>');
            });
        });

    </script>

    @*Remove quantity*@
    <script>
        $(document).on('click','#removeQuantity', function(){

            var quantity = parseInt($('#quantityInput').val());
            
            if (quantity != 1) {
                quantity--;
                $('#quantityInput').val(quantity);
            }
        });

    </script>

    @*Add quantity*@
    <script>
        $(document).on('click','#addQuantity', function(){

            var quantity = parseInt($('#quantityInput').val());
            if (quantity != 100) {
                quantity++;
                $('#quantityInput').val(quantity);
            }
        });

    </script>
}
