@page "{category:alpha}/{currentpage?}" 
@model Web.Pages.Products.IndexModel

<style>
    .desc {
        display: block;
        height: 80px;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 0.8rem;
    }
</style>

<div class="container-lg text-center">
    <div class="row">

        <div class="col-3 border border-2 rounded-3 my-4">
            <form method="get">
                <h4>Price Filter</h4>
                <div class="row">
                    <div class="col">
                        <input asp-for="MinPrice" type="number" class="form-control" min="1" max="100" placeholder="1"/>
                    </div>
                    <div class="col">
                        <input asp-for="MaxPrice" type="number" class="form-control" min="1" max="100" placeholder="100"/>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Filter</button>                
            </form>
        </div>

        <nav class="col-9">  

            <div class="row row-cols-lg-3">
                @foreach(var product in Model.ProductList)
                {
                    <div class="col">
                        <form method="post">
                            <input hidden name="Product.Id" value="@product.Id">
                            <div class="card mx-2 my-4 border-1" style="width: 12rem;">
                                <a asp-page="Details" asp-route-id="@product.Id">
                                    <img class="card-img-top" src="@SiteConstants.ImagePath@product.Image" asp-append-version="true">                              
                                </a>
                                <div class="card-body">
                                    @if(product.IsOnSale)
                                    {
                                        <span class="card-text text-muted text-decoration-line-through">@product.Price.ToString("C")</span>
                                        <h6 class="card-text">@product.SalePrice?.ToString("C")</h6>
                                    }
                                    else
                                    {
                                        <h6 class="card-text">@product.Price.ToString("C")</h6>
                                    }
                                    <a asp-page="Details" asp-route-id="@product.Id" class="text-decoration-none">
                                        <h5 class="card-title">@product.Name</h5>
                                    </a>
                                    @if(!product.InStock)
                                    {
                                        <button disabled class="btn btn-primary w-100">Out Of Stock</button>
                                    }
                                    else
                                    {
                                        <button type="submit" class="btn btn-primary w-100">Add To Cart </button>
                                    }
                                </div>
                            </div> 
                        </form>
                        
                    </div>
                }
            </div>


            <nav>
                <ul class="pagination">
                    @for (var i = 1; i <= Model.TotalPages; i++)
                    {
                        <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                            <a asp-page="Index"  asp-route-currentpage="@i" asp-route-MinPrice="@Model.MinPrice" asp-route-MaxPrice="@Model.MaxPrice" class="page-link">@i</a>
                        </li>
                    }
                </ul>
            </nav>

        </nav>

    </div>
</div>



@section Scripts {
    <script>


    </script>

}