@page "{category:alpha}/{currentpage?}" 
@model Web.Pages.Products.IndexModel

<style>
    .desc {
        display: block;
        height: 80px;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 0.8rem;
    }
</style>

<div class="container-lg text-center">
    <div class="row">

        <div class="col-3 border border-2 rounded-3 my-4">
            <form method="get">
                <h4>Price Filter</h4>
                <div class="row">
                    <div class="col">
                        <input asp-for="MinPrice" type="number" class="form-control" min="1" max="100" placeholder="1"/>
                    </div>
                    <div class="col">
                        <input asp-for="MaxPrice" type="number" class="form-control" min="1" max="100" placeholder="100"/>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Filter</button>      
                
            </form>
        </div>

        <nav class="col-9">

            @if(Model.IsProductAdded)
            {
                <div class="toast position-absolute" role="alert" style="display:block; z-index:1000" id="MyToast">
                    <div class="toast-header">
                        <strong class="me-auto">Product Added</strong>
                    </div>
                </div>   
            }


                
            
            <div class="row row-cols-lg-3">
                <partial name="_ProductListPartial" model="Model.ProductList"></partial>
            </div>


            <nav>
                <ul class="pagination">
                    @for (var i = 1; i <= Model.TotalPages; i++)
                    {
                        <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                            <a asp-page="Index"  asp-route-currentpage="@i" asp-route-MinPrice="@Model.MinPrice" asp-route-MaxPrice="@Model.MaxPrice" class="page-link">@i</a>
                        </li>
                    }
                </ul>
            </nav>
        </nav>
    </div>
</div>


@section scripts{ 
    <script src="~/lib/jquery-validation-unobtrusive/jquery.unobtrusive-ajax.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {

            var option = {
                animation: true,
                autohide: true,
                delay: 2000
            };

            var toastHTMLElement = document.getElementById("MyToast")
            var toastElement = new bootstrap.Toast(toastHTMLElement, option);

            toastElement.show();
    
        }, false);  
    </script>

}