@using ApplicationCore.ValueObjects
@model CartItem

<div class="input-group mb-3 w-50">
    <button id="@Model.Product.Id" quantity="@Model.Quantity" class="input-group-text updateQuantity addQuantity"><i class="bi bi-dash-lg"></i></button>
    <span class="form-control inputQuantity">@Model.Quantity</span>
    <button id="@Model.Product.Id" quantity="@Model.Quantity" class="input-group-text updateQuantity removeQuantity"><i class="bi bi-plus-lg"></i></button>
</div>