@using ApplicationCore.ValueObjects

@model List<CartItem>
@{
    decimal total = 0;
}

@if(Model.Count == 0 || Model == null)
{
    <div class="row">
        <div class="col text-center">
            <h3>Cart is empty</h3>
        </div>
    </div>
}
else
{
    <div class="row">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Subtotal</th>
                </tr>
            </thead>
            <tbody>
                @if(Model != null)
                {
                    foreach(var cartItem in Model)
                    {
                        total += cartItem.Product.Price * cartItem.Quantity;

                        <tr>
                            <td class="align-middle">
                                <div class="row">
                                    <div class="col-3">
                                        <img style="height: 4rem" src="@SiteConstants.ImagePath@cartItem.Product.Image" asp-append-version="true">
                                    </div>
                                    <div class="col">
                                        <h5>@cartItem.Product.Name</h5>
                                        <p>@cartItem.Product.Price.ToString("C")</p>
                                    </div>
                                </div>
                            </td>
                            <td class="align-middle" id="cartQuantityPartial">
                                <partial name="_CartQuantityPartial" model="@cartItem"></partial>
                            </td>
                            <td class="align-middle">
                                <div class="row">
                                    <div class="col-8">@cartItem.Total.ToString("C")</div>
                                    <div class="col">
                                        <button id="@cartItem.Product.Id" class="btn align-middle ms-5 deleteButton" style="font-size:1.25rem"><i class="bi bi-trash"></i></button>
                                    </div>
                                </div>                                   
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>     
    <div class="row border-top justify-content-end">
        <div class="col-4 mt-4">
            <h4>Total: @total.ToString("C")</h4>
            <p>Taxes and shipping calculated at check out </p>
            @if(User.Identity.IsAuthenticated)
            {
                <a class="btn btn-primary" asp-page="Summary">Check Out</a>
            }
            else
            {
                <a class="btn btn-primary" asp-page="Summary">Loggin To Checkout</a>
            }
        </div>
    </div>
}