@using ApplicationCore.ValueObjects

@model List<CartItem>
@{
    decimal total = 0;
}

@if(Model.Count == 0 || Model == null)
{
    <div class="row">
        <div class="col text-center">
            <h4>Cart is empty</h4>
        </div>
    </div>
}
else
{
    <div class="row">
        <table class="table align-middle">
            <thead>
                <tr>
                    <th class="text-muted">Product</th>
                    <th class="text-muted">Quantity</th>
                    <th class="text-muted text-end">Subtotal</th>
                    <th class="text-muted text-end">Remove</th>
                </tr>
            </thead>
            <tbody>
                @if(Model != null)
                {
                    foreach(var cartItem in Model)
                    {
                        total += cartItem.Product.Price * cartItem.Quantity;

                        <tr>
                            <td>
                                <div class="row">
                                    <div class="col-md-3">
                                        <img style="height: 4rem" src="@SiteConstants.ImagePath@cartItem.Product.Image" asp-append-version="true">
                                    </div>
                                    <div class="col">
                                        <h5>@cartItem.Product.Name</h5>
                                        <p>@cartItem.Product.Price.ToString("C")</p>
                                    </div>
                                </div>
                            </td>
                            <td id="cartQuantityPartial">
                                <partial name="_CartQuantityPartial" model="@cartItem"></partial>
                            </td>
                            <td class="text-end">
                                @cartItem.Total.ToString("C")
                            </td>
                            <td class="text-end">
                                <button id="@cartItem.Product.Id" class="btn align-middle ms-5 deleteButton" style="font-size:1.25rem"><i class="bi bi-trash"></i></button>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>     
    <div class="row justify-content-end text-end my-5">
        <div class="col-6 mt-4">
            <h4>Subtotal: @total.ToString("C")</h4>
            <p>Taxes and shipping calculated at check out </p>
            @if(User.Identity.IsAuthenticated)
            {
                <a class="btn btn-success" asp-page="Summary">Checkout</a>
            }
            else
            {
                <a class="btn btn-success" asp-page="Summary">Loggin to checkout</a>
            }
        </div>
    </div>
}