@using ApplicationCore.ValueObjects
@using Microsoft.AspNetCore.Http
@using Web.Utility
@inject IHttpContextAccessor httpContextAccessor

@code {
    public List<Item> Items;
    decimal total = 0;

    void OnInitialized(List<Item> items) => Items = items;
}


@if(Items.Count == 0 || Items == null)
{
    <div class="row">
        <div class="col text-center">
            <h3>Cart is empty</h3>
        </div>
    </div>
}
else
{
    <div class="row">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Subtotal</th>
                </tr>
            </thead>
            <tbody>
                @if(Items != null)
                {
                    foreach(var product in Items)
                    {
                        var price = product.Product.Price;
                        var quantity = @product.Quantity;
                        var subtotal = price * quantity;
                        total += subtotal;

                        <tr>
                            <td class="align-middle">
                                <div class="row">
                                    <div class="col-3">
                                        <img style="height: 4rem" src="@SiteConstants.ImagePath + @product.Product.Image" asp-append-version="true">
                                    </div>
                                    <div class="col">
                                        <h5>@product.Product.Name</h5>
                                        <p>@product.Product.Price.ToString("C")</p>
                                    </div>
                                </div>
                            </td>
                            <td class="align-middle">@quantity</td>
                            <td class="align-middle">
                                <div class="row">
                                    <div class="col-8">@subtotal.ToString("C")</div>
                                    <div class="col">
                                        <button id="@product.Product.Id" class="btn align-middle ms-5 deleteButton" style="font-size:1.25rem"><i class="bi bi-trash"></i></button>
                                    </div>
                                </div>                                   
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>     
    <div class="row border-top justify-content-end">
        <div class="col-4 mt-4">
            <h4>Total: @total.ToString("C")</h4>
            <p>Taxes and shipping calculated at check out </p>
            <a class="btn btn-primary" asp-page="Summary">Check Out</a>
        </div>
    </div>
}